

.list-container{
  width: 920px;
  height: 310px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr  ;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-right: 65px; 
}


.list-container::-webkit-scrollbar{
  display: none;
}
.grid-container::-webkit-scrollbar{
  display: none;
}
.card-container{
  background-size: cover;
  min-width: 200px;
  min-height: 300px;
  margin: 0px 15px;
  border-radius: 8px;
  -webkit-box-shadow: 5px 5px 15px 5px #d124302a; 
  box-shadow: 5px 5px 15px 5px #d1243018;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
  opacity: 0.5;
  margin: 10px;
}

.card-container img{
  width: 200px;
  height:100% ;
  border-radius: 8px;
  display: flex;
  
}

.card-title{
  font-size: 20px;
  top: 0;
  color: rgba(255, 255, 255, 0.925);
  z-index: 10;
  padding: 0px 10px;
}

.card-genero{
 color: white;
 margin-bottom: 15px;
 margin-left: 12px;
 text-transform: capitalize;
}

.card-rating{
  color: rgba(255, 255, 255, 0.925);
  z-index: 10;
  display: flex;
  justify-content: end;
  margin-top: 20px;
}
.card-rating span{
  color: rgba(255, 255, 0, 0.877);
  padding: 0px 5px;
  margin-right: 5px;
}

.mascara{
   width: 200px;
  z-index: 50;
  margin-left: -215px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer ;
}



.grid-container{
  width: 920px;
  height: 620px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-right: 65px; 
}