.filme-info{
  width: 1100px;
  height: 700px;
  margin-top: 30px;
  margin-left: 40px;
  overflow-y: scroll;
}

.filme-info::-webkit-scrollbar{
  display: none;
}
.filme-info img{
  width: 200px;
  margin: 20px;
}


.filme-info-container{
  display: flex;
}

.filme-info-title{
  margin-top: 20px;
  color: white;
  font-size: 30px;
}

.filme-info-genero{
  color: rgb(231, 15, 15);
  margin:20px 0px;
}


.filme-info-container p{
  color: rgba(255, 255, 255, 0.589);
}

.card-rating{
  color: rgba(255, 255, 255, 0.925);
  z-index: 10;
  display: flex;;
  margin-top: 20px;
  font-size: 30px;
}
.card-rating span{
  color: rgba(255, 255, 0, 0.568);
  padding: 0px 5px;
  margin-right: 5px;
}

.comentarios{
  color: white;
  margin: 20px;
  font-size: 24px;
  padding-left: 20px;
  border-left: 3px solid rgb(196, 22, 22);
}

.novo-comentario{
  width: 920px;
  margin-top: 15px;
  border-radius: 8px;
  height: 120px;
  background-color: #1A161F;
  display: flex;
  align-items: center;
}


.user-img{
  max-width: 50px;
  max-height: 50px;
  border-radius: 100%;
  border: 3px solid #D1242F;
}

.novo-comentario-input{
  width: 750px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.014);
  color: rgba(255, 255, 255, 0.664);
  outline: none;
  border-radius: 8px;
  border-color: rgba(255, 0, 0, 0.24);
  font-family: sans-serif;
}

.novo-comentario input{
  width: 60px;
  height: 30px;
  background-color: rgba(255, 240, 240, 0);
  border: 1px solid rgba(255, 0, 0, 0.418);
  border-radius: 2px;
  outline: none;
  color: white;
}

.avaliacao{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 18px;
}

.avaliacao label{
  margin: 5px 0;
  color: rgba(255, 255, 255, 0.514);
  
}

button{
  background-color: transparent;
  border:1px solid #d1243057;
  color: rgba(255, 255, 255, 0.37);
  cursor: pointer;
  border-radius: 5px;
  width: 120px;
  margin: 5px;
  padding: 5px 5px;
  outline: 0;
}

button:hover{
  background-color: #D1242F;
  color: white
  ;
}